.footer {
    color: #9397AD;
    padding: 10px;
    margin: 20px;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
    width: 100%;
    font-size: 14px;
}