@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-transparent: transparent;
--color-white:     #FFFFFF;
--color-gray-100:  #F3F6FF;
--color-gray-200:  #EFF2FC;
--color-gray-300:  #E2E5F1;
--color-gray-400:  #D4D7E5;
--color-gray-500:  #B4B7C9;
--color-gray-600:  #9397AD;
--color-gray-700:  #565973;
--color-gray-800:  #33354D;
--color-gray-900:  #0B0F19;
--color-black:     #000000;
--color-danger:    #EF4444;
--color-success:   #22C55E;
--color-warning:   #FFBA08;
--color-info:      #4C82F7;
 
--color-theme:     #6366F1;
--color-theme-secondary: #8B5CF6;
--color-theme-opacity: #6365f114;
--color-theme-gradient: linear-gradient(90deg, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);
--color-theme-gradient-background: linear-gradient(-1deg, rgba(99, 101, 241, 0.10) 0%, rgba(216, 70, 239, 0.05) 45%, rgba(241, 244, 253, 0.07) 75%);
}


.dark-mode {
  background: var(--color-gray-900);
  color: var(--color-white);
}
.dark-mode .input {
  background: var(--color-gray-800);
  color: var(--color-white);
}
.dark-mode .btn {
  color: var(--color-white);
}
.dark-mode .inputBasic {
  background: var(--color-gray-800);
  color: var(--color-white);
}
.dark-mode textarea {
  background: var(--color-gray-800);
  color: var(--color-white);
}
.dark-mode label {
  color: var(--color-white);
}
.dark-mode .btn-gray {
  background: var(--color-gray-800);
  color: var(--color-white);
}
.dark-mode .btn-dangerWhite {
  background: var(--color-danger);
  color: var(--color-white);
}
.dark-mode .btn-social {
  background: var(--color-gray-800);
  color: var(--color-white);
}
.dark-mode .h4title {
  color: var(--color-white);
}
.dark-mode .headerlink {
  color: var(--color-white);
}
.dark-mode .author {
  color: var(--color-white);
}
.dark-mode .h3 {
  color: var(--color-white);
}
.dark-mode .p {
  color: var(--color-white);
}
.dark-mode .i {
  color: var(--color-white);
}
.dark-mode .black {
  color: var(--color-white);
}
.dark-mode .h4 {
  color: var(--color-white);
}
.dark-mode .circle {
  background-color: var(--color-gray-900);
  border: 10px solid var(--color-gray-700);
  color: var(--color-white);
}
.dark-mode .loader {
  border: 5px solid var(--color-white);
  border-bottom-color: var(--color-theme);
}



body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  border: 1px solid var(--color-gray-400);
  padding: .4rem;
  border-radius: 5px;
  outline: none;
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--color-gray-800);
  outline: none;
  border-radius: 8px;
  padding: 12px 25px;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btn:hover {
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-gray-800);
  color: var(--color-gray-100);
  text-decoration: none;
}

.btn-social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background: var(--color-gray-200);
  color: var(--color-gray-800);
}
.btn-social:hover {
  text-decoration: none;
  background: var(--color-gray-700);
  color: var(--color-gray-100)
}

.btn-update-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 0;
  padding-left: 5px;
  width: 44px;
  height: 44px;
  background: var(--color-gray-200);
  color: var(--color-gray-800);
}
.btn-update-delete:hover {
  text-decoration: none;
  background: var(--color-theme);
  color: var(--color-gray-100);
  border: 1px solid var(--color-theme);
}

.btn-theme {
  border: 1px solid var(--color-theme);
  background-color: var(--color-theme);
  color: var(--color-white);
}
.btn-theme:hover {
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-gray-800);
  color: var(--color-gray-100);
}

.btn-gray {
  background: var(--color-gray-200);
  color: var(--color-black);
  border: 1px solid var(--color-gray-200);
}
.btn-gray:hover {
  text-decoration: none;
  border: 1px solid var(--color-theme);
  background: var(--color-theme);
  color: var(--color-white);
}

.btn-icon {
  margin-right: 10px;
}

.btn-danger{
  background: var(--color-danger);
  color: var(--color-gray-100);
  border: 1px solid var(--color-danger);
}
.btn-danger:hover{
  text-decoration: none;
  border: 1px solid var(--color-gray-700);
  background: var(--color-gray-700);
  color: var(--color-gray-900);
}

.btn-dangerWhite {
  background: var(--color-white);
  color: var(--color-danger);
  border: 1px solid var(--color-danger);
}
.btn-dangerWhite:hover{
  text-decoration: none;
  border: 1px solid var(--color-danger);
  background: var(--color-danger);
  color: var(--color-white);
}

.select {
  background: var(--color-gray-200);
  color: var(--color-gray-800);
  border: 1px solid var(--color-gray-200);
  outline: none;
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-danger);
  padding: 10px 25px;
  margin-top: 1rem;
  color: var(--color-white);
  font-size: 14px;
}

.loading {
  font-size: 25px;
  font-weight: 700;
  padding: 2rem 10rem;
}

.loader {  
  margin-left: 10px;   
  width: 20px;     
  height: 20px;     
  border: 5px solid var(--color-gray-900);     
  border-bottom-color: var(--color-theme);     
  border-radius: 50%;     
  display: inline-block;     
  box-sizing: border-box;     
  animation: rotation 1s linear infinite;     
}     
@keyframes rotation {     
  0% {         transform: rotate(0deg);}     
  100% {         transform: rotate(360deg);     }     
}

.courseError {
  color: var(--color-danger);
  font-size: 20px;
  padding: 2rem 10rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}