#signUp {
    padding: 5rem 0;
}

.container {
    display: flex;
    justify-content: center;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.signIn {
    color: var(--color-theme);
    text-decoration: none;
    margin-left: 5px;
}
.signIn:hover {
    color: var(--color-gray-800);
}

.content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title {
    margin: 20px 0 10px 0;
    font-weight: 800;
    font-size: 2rem;
}


.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-gray-800);
    font-weight: 700;
}

.checkboxGroup {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.terms {
    text-decoration: none;
}
.terms:hover {
    color: var(--color-gray-800);
}

.btnTheme {
    margin-top: 10px;
}