#account {
    padding-bottom: 2rem;
    padding-top: 2rem;

    .container {
        display: flex;
        flex-direction: row;
    

    .accountDetails {
        display: flex;
        flex-direction: column;

        .basic {
            h3 {
                color: var(--color-purple); 
            }

            .basicContent {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "first last"
                    "email email"
                    "phone phone"
                    "bio bio";
                gap: .5rem;

                .basicGroup {
                    display: flex;
                    flex-direction: column;
                    color: var(--color-gray-900);
                    font-weight: 700;
                    position: relative;

                    .opt {
                        display: flex;
                        gap: .2rem;

                        p {
                            margin: 0;
                            color: var(--color-gray-600);
                            font-weight: 400;
                        }
                    }

                    span {
                        &.field-validation-error {
                            color: var(--color-danger);
                            font-weight: 500;
                            opacity: 0.7;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }

                    input {
                        border: 1px solid var(--color-gray-400);
                        padding: .4rem;
                        border-radius: 5px;

                        &.input-validation-error {
                            border-color: var(--color-danger);
                        }
                    }

                    .bioInput {
                        padding: .4rem;
                        border: 1px solid var(--color-gray-400);
                        border-radius: 5px;
                        margin-bottom: 1rem;
                    }
                }

                #basicFirstname {
                    grid-area: first;
                }

                #basicLastname {
                    grid-area: last;
                }

                #basicEmail {
                    grid-area: email;
                }

                #basicPhone {
                    grid-area: phone;
                }

                #basic-bio {
                    grid-area: bio;
                }
            }

            .basic-buttons {
                display: flex;
                gap: 1rem;
                padding-bottom: 2rem;
                border-bottom: 1px solid rgba(147, 151, 173, 0.3);
            }
        }
    }
}
}
